.row-fluid
	.span1
	.span10
		.active
			%h4
				= @post.title
				%small= @post.updated_at.strftime("%m/%d/%y at %I:%M%P")
				%small= link_to 'edit', project_partial_url(@project.id, params[:phase], 'edit_post', post_id: @post.id)
			%p
	.span1
.row_fluid
	.span1
	.span11
		%iframe{height: "1000", width:"100%", frameBorder: "0", src: @post.attachment}