.row-fluid
	.sideNav.lead
		%ul.active Overview
		%ul
			Phase
			%li.active phase
		%ul.active Options
		%ul.active Contract



.sideNavcontent
	.row-fluid
		.span1
		.progress.progress-striped.success.span10
			.bar{:style => "width: 34%;"}
		.span1

